/* Whole page*/
*{
    margin:0;
    padding: 0;
}
body{
    background: linear-gradient(to right,rgba(255, 255, 255, 0.684),#74c4f2c5 );
}

/*Header*/
header{
    background-color: #92b4f4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    top :0;
    padding: 1.5rem;
}
#heading{
    color:#0A369D;
    display: inline-block;
    margin-left: 1rem;
    font-size: 2.5rem;
}
.login{
    text-decoration: none;
    color:black;
    background-color: #5e7ce2;
    width: 7rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
}
#login{
    width:40%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

/*Main body*/
/*block1*/
#block {
    width: 100vw;
    height: max-content;
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
}
#video {
    width: 100vw;
    z-index: 1;
    opacity: 0.6;
    margin: 0;
    display: flex;
    justify-content: center;
}
#video video{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}
#videoheading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: max-content;
    z-index: 2; 
    text-align: center;
}
#head2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    z-index: 2;
    color: black;
    font-size: 2.5rem
}

/*block2*/
#block1{
    display: flex;
    width: 100%;
    text-align: right;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    width: 97vw;
    margin: 0;
    margin-bottom:2rem;
    flex-wrap: wrap;
}
#imageblock1{
    display: inline-block;
    width: 30%;
}
#image1{
    width:100%;
    margin: 1rem;
}
#matter1{
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

/*block4 the block with only image*/
#block4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
#image2{
    width:30%;
    margin: 1rem;
}

/*common elements*/
.block{
    display: flex;
    width: 90%;
    margin: 1.5rem;
}
.list{
    font-size: 1.2rem;
    flex-shrink: 1;
    flex-grow: 1;
    font-family: 'Times New Roman', Times, serif;   
}
.heading{
    margin-left: 0.5rem;
}

/*Footer*/
footer{
    background-color: #92b4f4;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
}

/*common element*/
.foot{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

/*links(the first div)*/
.footer{
    text-decoration: none;
    color: black;
    margin-right: 0.5%;
    padding-right: 0.6%;
    margin-left: 0.5%;
}
.links{
    text-decoration: none;
    color: darkblue;
    margin: 0.2rem;
}

/*lists*/
.list1{
    font-size: 1.05rem;
    flex-shrink: 1;
    flex-grow: 1;
    font-family: 'Times New Roman', Times, serif;   
    position: relative;
    margin-left: 4rem;
}
.footlist{
    width: 50vw;
    display: flex;
}
.h4foot{
    margin-left: 1rem;
    display: inline-block;
    width:10rem;
    font-size: 1.2rem;
}

/*footer matter*/
.last{
    padding-left: 1.2rem;
    padding-top: 1rem;
}
.last h4{
    display: inline;
    font-size: 1.2rem;
}
.matterfoot{
    padding: 0.5rem;
    font-size: 1.05rem;
}

/* footer end box*/
#dfinal{
    text-align: center;
    margin: 0.5rem;
}


/*special properties*/
a:hover{
    color:black;
    background-color: #cde3f0;
    border: 0;
    padding: 0;
}
a:active{
    color:black;
    background-color: white;
    border: 0;
    padding: 0;
}
li{
    margin: 0.2rem;
}
/*media queries*/
@media screen and (max-width: 800px) {
    #login {
        color: white;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .login{
        width: 5rem;
        height: 50%;
        font-size: 1rem;
    }
    #heading{
        color:#0A369D;
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    .list{
        font-size: medium;
    }
    #matter1{
        font-size: medium;
    }
    .heading{
        font-size: large;
    }
    .heading1{
        font-size: 1rem;
    }
    #block4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }
    #image2{
        width:60vw;
    }
    #imageb1{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    #image1{
        width:60vw;
    }
    .list1{
        margin-left: 4vw;
    }
    #head2 {
        font-size: 1.5rem;
    }
    #matter1{
        width: 100vw;
    }
}
