html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(230, 230, 250, 0.762);
}
header{
    background-color: #92b4f4;
    width: 100%;
    height: 4rem;
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#heading{
    color:#0A369D;
    flex-grow:1;
    flex-shrink:1;
    font-size: 2rem;
    text-align: center;
    height: max-content;
    width: 100%;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:black;
    background-color: #cde3f0;
    border: 1.5px solid black;
}
a:active{
    color:black;
    background-color: white;
}

#login{
    width: 100%;
    height: 2rem;
    margin: 0.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
#outer{
    background-color: rgba(230, 230, 250, 0.762);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner{
    width: 15rem;
    height: 15rem;
    background-color: rgba(248, 248, 197, 0.574);
    padding: 0.5rem;
    border: 2px solid black;
    position: relative;
    top:7%;
    display:flex;
    flex-wrap:wrap;
    border-radius: 1rem;
}
.inner{
    height: max-content;
    width: 90%;
    margin: 0.4rem;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.input-field {
    width: 90%;
    padding: 0.4rem;
    font-size: 0.8rem; 
    border-radius: 0.5rem;
    border: 0.05rem solid black;
}

#linked{
    width: 98%;
    text-align: center;
    font-size: 0.8rem;
    display: block;
}
p{
    text-align: center;
    font-size: small;
    width: 100%;
    margin: 0;
}
button{
    width: 40%;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: 0.05rem solid black;
}
#Register{
    height: 0.8rem;
    border-radius: 0.5rem;
    border: 0.05rem solid transparent;
}
footer{
    background-color: #92b4f4;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}
.footer{
    text-decoration: none;
    color: black;
    width:max-content;
    height: max-content;
    font-size: 1rem;
    padding: 0.3rem;
}
.last footer{
    width: 20%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
}